@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* Estilos globales */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos para el encabezado */
.header-container {
  display: flex;
  align-items: center;
  background-image: url(assets/Fondo\ virtual\ para\ Zoom\ Acuarela\ Original\ Aesthetic\ Pastel\ \(1\).png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

.logo {
  width: 250px;
}

/* Estilos para el menú de navegación */
.nav-links {
  display: flex;
  list-style: none;
}
nav li a {
  display: inline-block;
  color: #0e0e0e;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Comic Sans MS', cursive;
  padding: 20px 20px; /* Ajusta el espaciado dentro del botón */
  border-radius: 30px; /* Ajusta el radio de los bordes para darle forma de botón */
  background-color: #008000;
  transition: background-color 0.3s;
  margin-right: 20px;
}


nav li a:hover {
  background-color: #ffcc00;
}

/* Estilo para el pie de página (Footer) */
footer {
  background-color: #ffcc00;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  font-family: 'Comic Sans MS', cursive;
}

/* Estilo para el contenedor principal */
.content {
  padding: 20px;
}

/* Estilo para el formulario Contacta con nosotros */
.ContactForm-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #e1d5d5;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(200, 202, 210, 0.998);
  margin-top: 40px;
  margin-bottom: 60px;
}

/* Estilos para el título del formulario */
.ContactForm-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

/* Estilo para el contenedor de las imágenes */
.image-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 30px;
}

/* Estilos para las imágenes */
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* Estilos para la sección de inicio */
.inicio-container {
  padding: 20px;
  background-color: #f9f4f46d;
}

.text-container {
  font-family: "Borel";
  font-size: 22px;
  line-height: 1.6;
  color: #080808;
  text-align: center;
  padding: 60px;
  margin-top: -50px;
}

.paragraph {
  text-align: left;
  color: #040404;
  padding: 15px;
  background-color: #f0b54786;
}

.paragraph2 {
  color: #080808;
  padding: 15px;
  background-color: #1ce69586;
}

.paragraph3 {
  color: #050505;
  padding: 15px;
  background-color: #ed8acf86;
}

.paragraph4 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

/* Media query para dispositivos con un ancho máximo de 768px (tabletas y móviles) */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
  }

  .nav-links {
    margin-right: 0;
    margin-top: 20px;
  }

  .nav-links li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .image-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .ContactForm-container {
    padding: 10px;
  }

  .text-container {
    padding: 30px;
  }
}
